html,
* {
  margin: 0;
  box-sizing: border-box;
}
*:focus {
  outline: none;
}

:root,
:root.default {
  --bg-color: #6a994e;
  --text-color: #fff;
  --darker-bg-color: #386641;
  --border-color: #000000;
  --weather-bg: hsla(0, 0%, 100%, 0.484);
  --input-todos: #fff;
  --input-todos-text: #000000;
  --input-todos-text-completed: var(--bg-color);
  --burger-color: #fff;
  --text-shadow: #000000;
  --font: "Work Sans", sans-serif;
}

:root.dark {
  --bg-color: #343434;
  --text-color: #ff3f88;
  --darker-bg-color: #282828;
  --border-color: #ff3f88;
  --weather-bg: hsla(337, 100%, 62%, 0.379);
  --input-todos: #313131;
  --input-todos-frame: #966060;
  --input-todos-text: #fff;
  --input-todos-text-completed: var(--text-color);
  --burger-color: #fff;
  --text-shadow: #000000;
  --font: "Work Sans", sans-serif;
}

:root.light {
  --bg-color: #ffffff;
  --text-color: #2483ff;
  --darker-bg-color: #ffffff;
  --border-color: #003cff;
  --weather-bg: #0077ff7f;
  --input-todos: #f9fcff;
  --input-todos-frame: #24a0ff91;
  --input-todos-text: #000000;
  --input-todos-text-completed: var(--text-color);
  --burger-color: #000000;
  --text-shadow: #8cdbfd;
  --font: "Work Sans", sans-serif;
}

:root.pastel {
  --bg-color: #fffdde;
  --text-color: #ffb9b9;
  --darker-bg-color: #fffdde;
  --border-color: #d9d7f1;
  --weather-bg: hsla(245, 56%, 84%, 0.696);
  --input-todos: #f9fcff;
  --input-todos-frame: #d9d7f1;
  --input-todos-text: #000000;
  --input-todos-text-completed: var(--text-color);
  --burger-color: #000000;
  --text-shadow: #ffffff90;
  --text-shadow-weather: black;
  --font: "Work Sans", sans-serif;
}

:root.hacker {
  --bg-color: #171717;
  --text-color: #00ff00;
  --darker-bg-color: #202020;
  --border-color: #00ff00;
  --weather-bg: hsla(120, 100%, 50%, 0.39);
  --input-todos: #000000;
  --input-todos-frame: #00ff00;
  --input-todos-text: #ffffff;
  --input-todos-text-completed: var(--text-color);
  --burger-color: #fff;
  --text-shadow: #ffffff90;
  --text-shadow-weather: black;
  --font: "Work Sans", sans-serif;
}

:root.demon {
  --bg-color: #000000;
  --text-color: #610000;
  --darker-bg-color: #000000;
  --border-color: #610000;
  --weather-bg: #6100006e;
  --input-todos: #000000;
  --input-todos-frame: #610000;
  --input-todos-text: #ffffff;
  --input-todos-text-completed: var(--text-color);
  --burger-color: #fff;
  --text-shadow: #00000090;
  --text-shadow-weather: rgb(0, 0, 0);
  --font: "Work Sans", sans-serif;
}

.border {
  border: 2px solid red;
}

@media (width >= 1200px) {
  main {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
  }

  .app {
    background-color: var(--bg-color);
    font-family: var(--font);
    /* background: #6a994e; */
    /* background: #0a100d; */
    width: 100%;
    height: 100%;
    /* border: 5px solid #d81e5b; */
    /* font-family: "Work Sans", sans-serif; */
  }
  .app__navbar {
    position: absolute;
    text-align: right;
    background: var(--darker-bg-color);
    color: var(--text-color);
    border-right: 2px solid var(--border-color);
    width: 20%;
    height: 100%;
    /* border-radius: 10px; */
    z-index: 10;
    display: none;
  }
  .close-navbar {
    display: inline-block;
    margin-top: 20px;
    margin-right: 20px;
    cursor: pointer;
    transform: scale(2);
  }
  .navbar__options {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    row-gap: 2rem;
    margin-top: 20%;
    font-size: 35px;
    list-style: none;
  }
  .navbar__options li {
    cursor: pointer;
    text-shadow: 0px 0px 10px var(--text-shadow);
  }
  .navbar__title {
    font-size: 40px;
    margin-top: 30px;
    text-align: center;
  }

  .welcome-window {
    position: absolute;
    display: flex;
    flex-direction: column;
    background: var(--bg-color);
    color: var(--text-color);
    /* background: #0a100d;
    color: #f5f1ed; */
    /* border: 5px solid #d81e5b; */
    align-items: center;
    justify-content: center;
    gap: 50px;
    width: 100%;
    height: 100%;
    z-index: 10;
    font-family: var(--font);
    /* display: none; */
  }

  #welcome-title {
    transform: scale(3);
    margin-bottom: 20px;
  }

  .welcome-window-name,
  .welcome-window-location {
    border-radius: 10px;
    width: 200px;
    height: 40px;
    padding: 10px;
    font-size: 26px;
    text-align: center;
    border: none;
  }

  .welcome-window-login h1,
  h2 {
    margin-top: 25px;
    margin-bottom: 10px;
    transform: scale(1.5);
  }

  .welcome-window-login {
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .welcome-window-submit {
    display: block;
    margin-top: 10px;
    padding: 10px 30px 10px 30px;
    background: none;
    border: 2px solid;
    border-radius: 20px;
    color: var(--text-color);
    font-family: var(--font);
    cursor: pointer;
    font-weight: 900;
    letter-spacing: 2px;
    font-size: 16px;
  }

  .reset-btn-window {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 400px;
    height: 100px;
    left: 40%;
    top: 40%;
    background: var(--darker-bg-color);
    color: var(--text-color);
    border: 2px solid var(--border-color);
    display: none;
  }

  .about-window {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    padding: 100px;
    left: 30%;
    top: 20%;
    width: 600px;
    height: 500px;
    background: var(--darker-bg-color);
    color: var(--text-color);
    border: 2px solid var(--border-color);
    display: none;
    z-index: 10;
  }

  .settings-window {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    position: absolute;
    width: 600px;
    height: 500px;
    background: var(--darker-bg-color);
    color: var(--text-color);
    border: 2px solid var(--border-color);
    top: 20%;
    left: 30%;
    z-index: 10;
    display: none;
  }

  .settings-name {
    margin-top: 50px;
  }
  .settings-color {
    margin-top: 50px;
  }
  .settings-close-btn {
    margin-top: 50px;
  }

  .app__header {
    display: inline-block;
    margin-bottom: 20px;
    width: 100%;
    text-shadow: 0px 0px 10px var(--text-shadow);
  }

  .burger {
    display: inline-block;
    transform: rotate(180deg) scale(2);
    margin-left: 46px;
    cursor: pointer;
  }
  .bar {
    margin: 4px;
    border: 1px solid var(--burger-color);
    width: 15px;
  }

  .app__header h1 {
    color: var(--text-color);
    display: inline-block;
    letter-spacing: 2px;
    margin-top: 10px;
    padding-top: 20px;
    font-size: 38px;
    margin-left: 45px;
  }
  .app__header__add-todos {
    display: inline-block;
    margin-left: 300px;
  }
  .app__header__add-todos__button {
    position: absolute;
    padding: 10px 30px 10px 30px;
    top: 3.5%;
    left: 50%;
    width: 200px;
    height: 50px;
    background: none;
    border: 2px solid;
    border-radius: 20px;
    color: var(--text-color);
    font-family: var(--font);
    cursor: pointer;
    font-weight: 900;
    letter-spacing: 2px;
    font-size: 20px;
  }
  .app__header__add-todos__button:hover {
    background: black;
  }

  .app__content {
    margin-left: 27px;
    width: 1000px;
    height: 700px;
    background: gray;
  }
  .app__content__container {
    display: flex;
    flex-direction: row;
  }

  .app__content__items {
    display: flex;
    align-items: center;
    width: 1000px;
    height: 70px;
    border: 2px solid;
    color: var(--input-todos-frame);
    /* color: var(--text-color); */
    background: var(--input-todos);
  }
  .empty__todo__field {
    display: flex;
    align-items: center;
    margin-left: 20px;
    padding-left: 20px;
    height: 70px;
    width: 900px;
    color: var(--input-todos-text);
    /* border-left: 2px solid;
    border-right: 2px solid; */
    font-weight: bold;
  }

  .app__content__items input {
    margin-left: 22px;
    transform: scale(2);
  }

  /**App__Content__WIDGETS*/
  .app-widgets {
    width: 100%;
    height: 700px;
  }

  .app-widgets__weather {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    width: 95%;
    height: 40%;
    background: var(--weather-bg);
    color: var(--text-color);
    border-radius: 50px;
  }
  .input-location {
    margin-top: 40px;
    margin-bottom: 35px;
  }
  .input-location input {
    border-radius: 50px;
    height: 25px;
    border: none;
    /* background: #393939; */
    color: var(--text-color);
  }
  .input-location button {
    border-radius: 50px;
    /* background: #000000; */
    border: none;
    height: 25px;
  }
  .temp-box {
    text-align: center;
  }
  .temp-box p {
    margin-top: 20px;
    text-shadow: 0px 0px 10px var(--text-shadow-weather);
  }
  .temp-box p:nth-child(3) {
    transform: scale(2);
  }
  .temp-box h2 {
    transform: scale(2);
    text-shadow: 0px 0px 5px var(--text-shadow-weather);
  }

  .app-widgets__jsearch {
    width: 100%;
    height: 33.33%;
    background: black;
    color: #fff;
  }

  .delete__todo {
    transform: scale(2) translateX(6px);
    display: none;
    cursor: pointer;
    user-select: none;
  }

  .app__add-window {
    position: absolute;
    display: inline-flex;
    justify-content: space-evenly;
    align-items: center;
    top: 30%;
    left: 20%;
    width: 60%;
    height: 20%;
    border: 2px solid var(--border-color);
    background: var(--darker-bg-color);
    display: none;
  }
  #app__add-window__input-todo {
    width: 60%;
    height: 50%;
    font-size: 20px;
  }
  .app__add-window__button {
    padding: 10px 30px 10px 30px;
    width: 200px;
    height: 50px;
    background: none;
    border: 2px solid;
    border-radius: 20px;
    color: var(--text-color);
    cursor: pointer;
    font-family: var(--font);
    font-weight: 900;
    letter-spacing: 2px;
    font-size: 20px;
  }
  .app__add-window__button:hover {
    background: black;
  }
  .app__add-window__close-button {
    margin-bottom: 100px;
    user-select: none;
    cursor: pointer;
    color: var(--text-color);
  }

  .settings-color {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }

  #theme-select {
    padding: 10px 30px 10px 30px;
    appearance: none;
    background: none;
    border: 2px solid;
    border-radius: 20px;
    color: var(--text-color);
    font-family: var(--font);
    cursor: pointer;
    font-weight: 900;
    letter-spacing: 2px;
    font-size: 16px;
  }
}

@media (width <= 1200px) {
  main {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
  }
  .app {
    background: gray;
    width: 1050px;
    height: 830px;
  }
  .app__navbar {
    background: rgba(255, 255, 255, 0.5);
    width: 300px;
    height: 800px;
    display: none;
  }

  .app__header {
    display: inline-block;
    margin-bottom: 20px;
  }

  .app__header h1 {
    display: inline-block;
    letter-spacing: 2px;
    margin-top: 10px;
    padding-top: 20px;
    font-size: 38px;
    margin-left: 65px;
    color: #ffffff;
  }
  .app__header__add-todos {
    display: inline-block;
    margin-left: 300px;
  }
  #app__header__add-todos__button {
    padding: 10px 30px 10px 30px;
  }

  .app__content {
    display: block;
    margin: 0 auto;
    width: 1000px;
    height: 700px;
    background: gray;
  }

  .app__content__items {
    display: flex;
    align-items: center;
    width: 1000px;
    height: 70px;
    border: 2px solid;
    background: white;
  }

  .app__content__items input {
    margin-left: 22px;
    transform: scale(2);
  }

  .delete__todo {
    transform: scale(2) translateX(6px);
    color: transparent;
    cursor: pointer;
    user-select: none;
  }

  .empty__todo__field {
    display: flex;
    align-items: center;
    margin-left: 20px;
    padding-left: 20px;
    height: 70px;
    width: 900px;
    border-left: 2px solid;
    border-right: 2px solid;
    font-weight: bold;
  }

  .app__add-window {
    position: absolute;
    display: inline-flex;
    justify-content: space-evenly;
    align-items: center;
    top: 30%;
    left: 10%;
    width: 80%;
    height: 20%;
    background: rgb(129, 129, 129);
    display: none;
  }
  #app__add-window__input-todo {
    width: 60%;
    height: 50%;
    font-size: 20px;
  }
  .app__add-window__button {
    padding: 10px 40px 10px 40px;
    width: 20%;
  }
  .app__add-window__close-button {
    margin-bottom: 100px;
    user-select: none;
    cursor: pointer;
  }
}
